.search-area{
	width: 60%;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
}
.search-area p{
	margin: 10px
}
.search-area .search-text{
	font-size: 20px;
	line-height: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 70%;
	padding: 5px 10px;
	outline-width: 2px;
	margin-left: 10px;
}
.table{
	width: 95%;
	margin: 20px auto;
	border: 1px solid #ccc;
}
table td.filename{
	font-size: 16px;
	cursor: default;
}
table th{
	font-size: 18px;
}
table td:first-child,table th:first-child{
	padding-left: 30px!important;
}
table td:nth-child(2),table th:nth-child(2){
	text-align: right;
	padding-right: 50px!important;
}
.filter{
	font-size: 16px;
}
.filter input,.filter span{
	margin-right:10px;
}
.page-area {
	text-align: center;
	font-size: 24px;
	padding-bottom: 30px;
}
.cursor-pointer{
	cursor: pointer;
}
.success{
	background-color: #dff0d8;
}
.fail{
	background-color: #f2dede;
}
.loading{
	background: url(../img/loading2.gif) no-repeat 0 5px;
}
.loading-icon{
	display: inline-block;
	width: 20px;
	height: 20px;
}