<!DOCTYPE html>
<html lang="en" ng-app="classProcess">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/modify.css">
	<script src="js/angular.min.js"></script>
	<script type="text/javascript">
		var m1 = angular.module('classProcess',[]);
		m1.controller('main',['$scope','$http','$timeout',function($scope,$http,$timeout){
			var urlForView = 'http://192.168.0.158:8080/search/';
			var urlForRunClass = 'http://192.168.0.158:8080/run/'
			var timer = null;
			var fileId = 0;
			$scope.pageValue = 1;
			$scope.curId = 0;//当前文件id
			$scope.fileType = $scope.fileType||'';
			$scope.breadcrumb = [];
			$scope.refresh = function(json){
				json = json||{};
				json.pageId = json.pageId||1;//当前页
				json.id = json.id||0;//文件夹id、目录id
				json.keyword = json.keyword||'';//检索词
				var pageSize = 20;//每页显示条数
				$scope.curId = json.id;
				if(arguments[1]){
					$scope.breadcrumb.push({id:arguments[1].id,name:arguments[1].fileName});
				}
				$timeout.cancel(timer);
				timer = $timeout(function(){
					$http.get(urlForView+pageSize+'/'+json.pageId+'?id='+json.id+'&keyword='+json.keyword+'&type='+$scope.fileType).success(function(respond){
						console.log(respond);
						var pageNum = Math.ceil(respond.count/pageSize);//总页数
						$scope.pageNum = [];
						for (var i = 0; i < pageNum; i++) {
							$scope.pageNum[i] = i+1;
						};
						$scope.files = respond.list;
					}).error(function(error){
						console.log(error)
					});
				},300);
			};
			$scope.runClass = function(id,file){
				$http.get(urlForRunClass+id).success(function(respond){
					if({Y:'ture'}[respond.success]){
						file.success = true;
						file.loading = false;
					}
					else{
						file.fail = true;	
					}
				});
			}
			$scope.refresh();
		}]);
	</script>
</head>
<body ng-controller="main">
	{{curId}}
	<ol class="breadcrumb">
	  <li><a href="#" ng-click="refresh();searchText='';breadcrumb=[]">Home</a></li>
	  <li ng-repeat="crumb in breadcrumb" ng-click="refresh({id:crumb.id})"><a href="#" ng-bind="crumb.name"></a></li>
	</ol>
	<div class="search-area">
		<p>
			课程名称:
			<input type="text" class="search-text" ng-model="searchText" ng-change="refresh({keyword:searchText,type:flieType})" style="display:inline-block">
			<input type="button" value="搜索" class="search-btn" ng-click="refresh({keyword:searchText,type:fileType})">
		</p>
		<p class="filter">
			<span>文件类型筛选:</span>
			*.ini <input type="radio" name="type" ng-model="fileType" value="ini">
			*.xls <input type="radio" name="type" ng-model="fileType" value="xls">
			*.xlsx <input type="radio" name="type" ng-model="fileType" value="xlsx">
			*.folder <input type="radio" name="type" ng-model="fileType" value="folder">
			任意 <input type="radio" name="type" ng-model="fileType" value="">
		</p>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>名称</th>
				<th></th>
				<th>内容</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="file in files" ng-class="{success:file.success,fail:file.fail}">
				<td ng-bind="file.fileName" class="filename" ng-click="file.isFolder&&refresh({'id':file.id},file)" ng-class=""></td>
				<td><span ng-class="{loading:file.loading}" class="loading-icon"></span></td>
				<td><input type="button" class="btn btn-info" value="跑课" ng-click="runClass(file.id,file);file.loading=true"></td>
			</tr>
		</tbody>
	</table>
	<div class="page-area">
		<select class="page-number" ng-model="pageValue" ng-change="refresh({pageId:pageValue,id:curId,keyword:searchText})">
			<option ng-repeat="num in pageNum" ng-bind="num" ng-value="num"></option>
		</select>
	</div>
</body>
</html>